<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="tai-anh.ThuVienUPT.dbo" connectionString="XpoProvider=MSSqlServer;data source=TAI-ANH;integrated security=SSPI;initial catalog=ThuVienUPT" />
        <add name="siti55.ThuVienUPT.dbo" connectionString="XpoProvider=MSSqlServer;data source=siti55;integrated security=SSPI;initial catalog=ThuVienUPT" />
    </connectionStrings>
</configuration>